BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
ColumnLimit: 100
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignOperands: true
AlwaysBreakAfterReturnType: None
SortIncludes: false
IncludeBlocks: Preserve
SpaceBeforeParens: ControlStatements
SpacesInCStyleCastParentheses: false
Cpp11BracedListStyle: false
