# ignore these vendored files in language statistics
src/agent/bpf/aarch64/vmlinux.h linguist-vendored
src/agent/bpf/x86_64/vmlinux.h linguist-vendored

# mechanical, not worth reviewing in pull-request diffs
Cargo.lock linguist-generated=true -diff
