[package]
name = "rezolus"
version = "3.0.0-alpha.0"
authors = ["Brian Martin <brian@iop.systems>"]
license = "Apache-2.0"
publish = false
edition = "2021"
description = "High resolution systems performance telemetry agent"

[dependencies]
backtrace = "0.3.67"
clap = "4.1.4"
clocksource = "0.6.0"
libbpf-rs = { version = "0.19.1", optional = true }
libbpf-sys = { version = "1.1.1", optional = true }
linkme = "0.3.9"
metriken = "0.1.3"
memmap2 = { path = "memmap2" }
ouroboros = "0.15.6"
serde = { version = "1.0.159", features = ["derive"] }
serde_json = "1.0.95"
sysconf = "0.3.4"
syscall-numbers = "3.0.0"
ringlog = "0.1.1"
tokio = { version = "1.27.0", features = ["full"] }
toml = "0.7.3"
walkdir = "2.3.3"
warp = "0.3.4"

[target.'cfg(target_os = "linux")'.dependencies]
perf-event = "0.4.8"

[build-dependencies]
libbpf-cargo = { version = "0.13.1", optional = true }

[features]
all = ["bpf"]
default = []
bpf = ["libbpf-cargo","libbpf-rs","libbpf-sys"]

[profile.bench]
debug = true
lto = true
codegen-units = 1

[profile.release]
debug = true
lto = true
codegen-units = 1
