[package]
name = "rezolus"
version = "2.16.4-alpha.0"
authors = ["Brian Martin <brian@iop.systems>"]
license = "Apache-2.0"
publish = false
edition = "2021"
description = "High resolution systems performance telemetry agent"

[dependencies]
anyhow = "1.0.68"
async-trait = "0.1.63"
bcc = { version = "0.0.33", optional = true }
clap = "4.1.4"
clocksource = "0.6.0"
crossbeam = "0.8.2"
ctrlc = { version = "3.2.4", features = ["termination"] }
dashmap = "5.4.0"
# heatmap = "0.7.0"
heatmap = { git = "https://github.com/brayniac/rustcommon", branch = "heatmap"}
json = "0.12.4"
kafka = { version = "0.9.0", optional = true }
libbpf-rs = { version = "*", optional = true }
libc = "0.2.139"
num = "0.4.0"
num-derive = "0.3.3"
num-traits = "0.2.15"
nvml-wrapper = "0.9.0"
regex = "1.7.1"
reqwest = { version = "0.11.14", default-features = false, features = ["blocking"] }
ringlog = "0.1.0"
serde = "1.0.152"
serde_derive = "1.0.152"
strum = "0.24.1"
strum_macros = "0.24.1"
sysconf = "0.3.4"
thiserror = "1.0.38"
tiny_http = "0.12.0"
tokio = { version = "1.24.2", features = ["full"] }
toml = "0.6.0"
uuid = "1.2.2"
walkdir = "2.3.2"

[build-dependencies]
libbpf-cargo = { version = "0.12", optional = true }

[features]
all = ["bpf", "push_kafka"]
default = []
bpf = ["bcc","libbpf-cargo","libbpf-rs"]
bpf_static = ["bpf", "bcc/static"]
bpf_static_llvm_8 = ["bpf", "bcc/llvm_8", "bcc/static"]
bpf_static_llvm_9 = ["bpf", "bcc/llvm_9", "bcc/static"]
bpf_v0_12_0 = ["bpf", "bcc/v0_12_0"]
bpf_v0_13_0 = ["bpf", "bcc/v0_13_0"]
bpf_v0_14_0 = ["bpf", "bcc/v0_14_0"]
bpf_v0_15_0 = ["bpf", "bcc/v0_15_0"]
bpf_v0_16_0 = ["bpf", "bcc/v0_16_0"]
bpf_v0_17_0 = ["bpf", "bcc/v0_17_0"]
bpf_v0_18_0 = ["bpf", "bcc/v0_18_0"]
bpf_v0_19_0 = ["bpf", "bcc/v0_19_0"]
bpf_v0_20_0 = ["bpf", "bcc/v0_20_0"]
bpf_v0_21_0 = ["bpf", "bcc/v0_21_0"]
bpf_v0_22_0 = ["bpf", "bcc/v0_22_0"]
bpf_v0_23_0 = ["bpf", "bcc/v0_23_0"]
push_kafka = ["kafka"]

[profile.bench]
debug = true
lto = true
codegen-units = 1

[profile.release]
debug = true
lto = true
codegen-units = 1
