[package]
name = "rezolus"
version = "5.0.0-alpha.17+mmap.2"
license = "MIT OR Apache-2.0"
edition = "2021"
description = "High resolution systems performance telemetry agent"

[[bin]]
name = "rezolus"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
archspec = "0.1.3"
arrow = "54.3.1"
async-trait = "0.1.81"
axum = { version = "0.7.5", features = ["http2"] }
backtrace = "0.3.73"
chrono = "0.4.39"
clap = { version = "4.5.17", features = ["derive"] }
clocksource = "0.8.1"
core_affinity = "0.8.1"
ctrlc = { version = "3.4.5", features = ["termination"] }
futures = "0.3.30"
h2 = "0.4.6"
histogram = "0.11.0"
http = "1.1.0"
humantime = "2.1.0"
include_dir = "0.7.4"
lazy_static = "1.5.0"
libc = "0.2.158"
linkme = "0.3.28"
memmap2 = "0.9.4"
metriken = "0.7.0"
metriken-exposition = "0.12.2"
notify = "8.0.0"
open = "5.3.2"
ouroboros = "0.18.4"
parking_lot = "0.12.3"
parquet = "54.3.1"
plain = "0.2.3"
reqwest = { version = "0.12.9", default-features = false, features = ["blocking"] }
ringlog = "0.8.0"
rmp-serde = "1.1.2"
serde = { version = "1.0.209", features = ["derive"] }
serde_json = "1.0.140"
syscall-numbers = "4.0.0"
sysconf = "0.3.4"
tempfile = "3.13.0"
thiserror = "1.0.63"
tokio = { version = "1.39.3", features = ["full"] }
toml = "0.8.19"
tower = { version = "0.5.0", features = ["tokio"] }
tower-http = { version = "0.5.2", features = ["compression-full", "decompression-full", "fs"] }
tower-livereload = "0.9.6"
walkdir = "2.5.0"

[target.'cfg(target_os = "linux")'.dependencies]
libbpf-rs = { version = "0.24.8" }
libbpf-sys = { version = "1.5.0" }
perf-event2 = "0.7.4"
perf-event-open-sys2 = "5.0.6"
nvml-wrapper = "0.10.0"

[target.'cfg(target_os = "linux")'.build-dependencies]
libbpf-cargo = { version = "0.24.8" }

[features]
developer-mode = []

[profile.bench]
debug = true
lto = true
codegen-units = 1

[profile.release]
debug = true
lto = true
codegen-units = 1

[package.metadata.generate-rpm]
auto_req = "builtin"
assets = [
    { source = "target/release/rezolus", dest = "/usr/bin/", mode = "755" },
    { source = "config/agent.toml", dest = "/etc/rezolus/", mode = "644" },
    { source = "config/exporter.toml", dest = "/etc/rezolus/", mode = "644" },
    { source = "config/hindsight.toml", dest = "/etc/rezolus/", mode = "644" },
    { source = "debian/rezolus.rezolus.service", dest = "/usr/lib/systemd/system/rezolus.service", mode = "644" },
    { source = "debian/rezolus.rezolus-exporter.service", dest = "/usr/lib/systemd/system/rezolus-exporter.service", mode = "644" },
    { source = "debian/rezolus.rezolus-hindsight.service", dest = "/usr/lib/systemd/system/rezolus-hindsight.service", mode = "644" },
]
post_install_script = "rpm/systemd-start.sh"
pre_uninstall_script = "rpm/systemd-stop.sh"
