Source: rezolus
Section: devel
Priority: optional
Maintainer: IOP Systems <team@iop.systems>
Standards-Version: 4.6.2
Build-Depends: 
    debhelper (>= 10),
    pkg-config,
    libelf-dev,
    libelf-dev:native,
    clang:native

Package: rezolus
Architecture: any
Description: High resolution systems performance telemetry agent
Depends: ${shlibs:Depends}, ${misc:Depends}
