[Unit]
Description=Rezolus systems performance telemetry agent
Documentation=https://github.com/iopsystems/rezolus
After=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/rezolus /etc/rezolus/agent.toml
KillMode=control-group
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
Alias=rezolus.service
