[Unit]
Description=Rezolus is a systems performance telemetry agent
Documentation=https://github.com/iopsystems/rezolus
After=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/rezolus /etc/rezolus/config.toml
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=rezolus.service
