[Unit]
Description=Rezolus Hindsight recording service
Documentation=https://github.com/iopsystems/rezolus
After=rezolus.service

[Service]
User=rezolus
ExecStart=/usr/bin/rezolus hindsight /etc/rezolus/hindsight.toml
KillMode=control-group
Restart=on-failure
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
Alias=rezolus-hindsight.service
