[Unit]
Description=Rezolus flight recorder collection agent
Documentation=https://github.com/iopsystems/rezolus
After=rezolus.service

[Service]
User=rezolus
ExecStart=/usr/bin/rezolus flight-recorder http://localhost:4241 /tmp/flight-recorder.parquet
KillMode=control-group
Restart=on-failure
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
Alias=rezolus-flight-recorder.service
